<div class="container">
  <div class="message">
  <div class="row">
    <div class="col-md-6 ">  
<h2>Sign up</h2>

<% resource.addresses.build %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :user_name , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <%= f.fields_for :addresses do |t| %>
    <div>
      <%= t.label "Street Number"%>
      <%= t.text_field :home_number, class:"form-control" %>
    </div>
    <div>
      <%= t.label "Street Name"%>
      <%= t.text_field :street_name, class:"form-control" %>
    </div>
    <div>
      <%= t.label "City"%>
      <%= t.text_field :suburb, class:"form-control" %>
    </div>
    <div>
      <%= t.label "Country"%>
      <%= t.text_field :country, class:"form-control" %>
    </div>
    <div>
      <%= t.label "Postcode"%>
      <%= t.text_field :postcode, class:"form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
    </div>
  </div>
</div>
