<div>
  <h2>Comments</h2>
  <% comments.each do |com| %>
    <div>
      <%= com.content %>
    </div>
    <div>
      By <%= com.user.first_name + " " + com.user.last_name %> created at: <%= com.created_at %>
    </div>
  <% end %>
  <div>
    <%= form_with(model: comment, url: url_path, local: true) do |form| %>
      <div class='field'>
        <%# form.hidden_field :parent_id, value: comment.parent_id? ? comment.id : nil %>
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end%>
  </div>
</div>