<!-- I am able to call full_name because it is stated in the helper methods file -->
<h1><%= @user.user_name %></h1>
<div class="container">
    <div class="message">
    <div class ="row">
      <!-- This will take the uploaded image and display it -->
        <% unless @user.image.nil? %>
          <div>
            <%= image_tag @user.image.thumb.url %>
          </div>
        <% end %>
      
        <div class= "profile">
          <h2> <%= full_name.upcase %> </h2>
          <p> <%= @user.description %> </p>
          <p> <%= @user.email %> </p>
        </div>
    </div>
    <div class="row">
        <div class= "list">
        <h3> Your Items </h3>
        <% unless @user.products.empty?%>
          <% @user.products.reverse.each do |product| %>
           <div class="col-xs-12 col-sm-6 col-md-3">
            <%= render 'products/thumb', product: product %>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>
    </div>
    <div class ="row">
        <div class= "order">
        <% if user_signed_in? && @user.id == current_user.id%>
          <h3>Order History</h3>
          <% @user.orders.reverse.each do |order| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= render "orders/orders", order: order %>
          </div>
          <% end %>
        <% end %>
        </div>
        
    </div>

<p><%= link_to 'Send Message', new_personal_message_path(receiver_id: @user) , class: "btn btn-primary"%> </p>

<%= render 'comments/comment', comment_path: @user.id, comments: @comments, comment: @new_comment, url_path: user_comments_path(@user.id) %>
</div>