<!-- I am able to call full_name because it is stated in the helper methods file -->
<h1><%= full_name %></p>

<!-- This will take the uploaded image and display it -->
<p>
  <strong>Image:</strong>
  <% unless @user.image.nil? %>
    <%= image_tag @user.image.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<h4> Your Listed Items: </h4>
<% unless @user.products.empty?%>
  <% @user.products.reverse.each do |product| %>
    <% unless product.product_images.empty? %>
      <%= link_to image_tag(product.product_images[0].image_url(:thumb)), product%>
    <% end %>
  <% end %>
<% end %>
<% if @user.id == current_user.id%>
  <h4>Order History:</h4>
  <% @user.orders.reverse.each do |order| %>
    <%= order.product.name %>
    $<%= order.product.price %>
    <%= order.address.home_number %>
    <%= order.address.street_name %>
    <%= order.address.suburb %>
    <%= order.address.country %>,
    <%= order.address.postcode %>
    <%= order.product.created_at %>
    <%= link_to "#{order.product.user.user_name}", user_path(order.product.user.id) %>
  <% end %>
<% end %>

<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>

<!-- This is just displaying the users email for now -->
<p><%= @user.email %></p>
<%= render 'comments/comment', comment_path: @user.id, comments: @comments, comment: @new_comment, url_path: user_comments_path(@user.id) %>