<!-- I am able to call full_name because it is stated in the helper methods file -->
<h1><%= full_name %></p>

<!-- This will take the uploaded image and display it -->
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.thumb.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %></p>

<!-- This is just displaying the users email for now -->
<p><%= @user.email %></p>


<h4> Your Listed Items </h4>
<% @user.products.each do |product| %>
  <%= link_to image_tag(product.product_images[0].image_url(:thumb)), product%>
<% end %>
