<div class="container"
  <div class="row">
  <h1>New message</h1>
   <h2><%= @receiver.user_name %></h2>
  <div class="message">
  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'receiver_id', @receiver.id %>
    <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class:"form-control" %> 
    </div>
    <%= f.submit class:"submit" %>
  <% end %>
  </div> </br>
  <%= link_to 'Messages', conversations_path, class:"btn btn-primary" %>
  
</div>