<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.fields_for :product_image do |t| %>
    <div>
      <%= t.label :image %>
      <%= t.file_field :image, :multiple => true %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, min: 1, max: 9999 %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, [["Shirt", "Shirt"],["Jumper", "Jumper"], ["Pants", "Pants"], ['Underwear', 'Underwear'], ["Collectable", "Collectable"], ["Gadget", "Gadget"]] %>
  </div>
  
  <div class="field">
    <%= form.label :condition %>
    <%= form.select :condition, [["Unused", "Unused"],["Used", "Used"]]  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
