<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Monoton|Muli|Source+Serif+Pro'%>
    <%# <link href="https://fonts.googleapis.com/css?family=Monoton|Muli|Source+Serif+Pro" rel="stylesheet"> %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Welcome, <strong><%= current_user.first_name %></strong> <br>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
    <p class="navbar-text pull-left">
      <%= form_with url: search_index_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.select :category, [["All","*"], ["T'Shirt", "TShirt"],["Jumper", "Jumper"], 
          ["Pants", "Pants"], ["Underwear", "Underwear"], ["Collectable", "Collectable"], ["Gadget", "Gadget"]] %>
          <%= f.submit :search %>
      <% end %>
    </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
      <div class="row">
        <div class=" col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
